<app-auth-page-layout>
  <app-auth-form-card
    title="Crie sua senha"
    description="A senha deve ter pelo menos 8 caracteres. Use letras, números e símbolos para maior segurança."
  >
    <form class="auth-form" [formGroup]="form" (ngSubmit)="submit()">
      <app-form-alert [message]="errorMessage" />

      <app-ui-input
        label="Senha"
        placeholder="••••••••"
        type="password"
        autocomplete="new-password"
        [required]="true"
        formControlName="senha"
        [errorMessage]="fieldError('senha')"
      />

      <app-ui-input
        label="Confirmar senha"
        placeholder="••••••••"
        type="password"
        autocomplete="new-password"
        [required]="true"
        formControlName="confirmarSenha"
        [errorMessage]="fieldError('confirmarSenha')"
      />

      <app-ui-button
        label="Criar conta"
        icon="user-plus"
        type="submit"
        [loading]="loading"
      />

      <app-ui-link
        label="Voltar ao login"
        route="/login"
        icon="arrow-left"
        [centered]="true"
      />
    </form>
  </app-auth-form-card>
</app-auth-page-layout>
