<div class="ui-checkbox-field" [class.ui-checkbox-field--invalid]="!!errorMessage">
  <label class="ui-checkbox" [for]="checkboxId">
    <input
      class="ui-checkbox__input"
      type="checkbox"
      [id]="checkboxId"
      [checked]="checked"
      [disabled]="disabled"
      [attr.aria-invalid]="!!errorMessage"
      [attr.aria-describedby]="errorMessage ? checkboxId + '-error' : null"
      (change)="onToggle($event)"
      (blur)="onBlur()"
    />
    <span class="ui-checkbox__label">
      {{ label }}
      @if (required) {
        <span class="ui-checkbox__required" aria-hidden="true">*</span>
      }
    </span>
  </label>
  @if (errorMessage) {
    <p class="ui-checkbox-field__error" [id]="checkboxId + '-error'" role="alert">
      {{ errorMessage }}
    </p>
  }
</div>
